@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as*;
.item {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    position: relative;
    width: 47%;
    &__cont {
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    &__add {
        width: 100%;
        background-color: dodgerblue;
    }
    &__img {
        width: 200px;
        height: 100%;
        border-radius: 0.5rem;
    }
    &__buy {
        width: 100%;
        margin-top: 1rem;
    }
    &__specials {
        width: 14rem;
        background-color: red;
        color: white;
    }
}
