@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as*;

.item-page {
    position: relative;
    .cont {
        position: absolute;
        top: 7rem;
        &__box {
            display: flex;
            gap: 1rem;
            width: 100%;
        }
    }
    
}
.mySwiper {
    width: 400px;
    overflow: visible;
  }
.mySwiper2 {
    width: 400px;
}
.cont__img {
width: 100%; 
height: 100%;
}