@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as*;

.homepage {
    position: relative;
    &__cont {
        position: absolute;
        top: 13rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        @include media(tablet,desktop) {
            top: 7rem;
        }
    }
    &__main {
        display: flex;
        gap: 1rem;
        flex-wrap: nowrap;
    }
    .suggestions {
        width: 100%;
    }
    .suggestions__cont {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include media(tablet,desktop) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}